<nav>
    <div class="menu">
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="40" 
        height="40" 
        fill="currentColor" 
        class="bi bi-list" 
        viewBox="0 0 16 16"
        (click)="onclick()"
        >
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <div (click)="activeUserOptions = !activeUserOptions" class="user me-5 float-end display-flex">
        <img 
        class="me-2" 
        width="35em" 
        height="35em"
        src="https://cdn.icon-icons.com/icons2/38/PNG/512/maleuser_4945.png" 
        />
        <p class=" mx-2 mb-0 text-light">Mezrioui Hakim</p>
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="22" 
        height="22" 
        fill="currentColor" 
        class="me-2 text-light bi bi-caret-down-fill" 
        viewBox="0 0 16 16"
        *ngIf="!activeUserOptions"
        >
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="22" 
        height="22" 
        fill="currentColor" 
        class="bi bi-caret-up-fill text-light mb-1 me-2" 
        viewBox="0 0 16 16"
        *ngIf="activeUserOptions"
        >
            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
        </svg>
    </div>
</nav>
<div *ngIf="activeUserOptions" class="user-options">
    <ul>
        <li>Compte</li>
        <li>Profil</li>
        <li>Disconnection</li>
    </ul>
</div>