<form class="form" #firstForm="ngForm">
    <div class="mt-4" style="position: relative;">
        <input 
        id="name" 
        class="form-control"
        name="name"
        [(ngModel)]="name"
        required
        (keyup)="cardData()"
        />
        <div class="underline"></div>
        <div class="underlineAfter"></div>
        <label for="name" >Name</label>        
    </div>
    <div class="mt-4" style="position: relative;">
        <input 
        id="type"
        class="form-control"
        [(ngModel)]="type"
        name="type"
        required
        (keyup)="cardData()"
        />
        <div class="underline"></div>
        <div class="underlineAfter"></div>
        <label for="type" >Type</label>        
    </div>
    <div class="mt-4" style="position: relative;">
        <input 
        id="rating" 
        class="rating form-control"
        [(ngModel)]="rating"
        pattern="[1-9].[0-9]{1}"
        name="rating"
        required
        (keyup)="cardData()"
        />
        <div class="underline"></div>
        <div class="underlineAfter"></div>
        <label for="rating" >Rating</label>        
    </div>
    <div class="mt-4" style="position: relative;">
        <input 
        id="year" 
        class="form-control"
        [(ngModel)]="year"
        name="year"
        required
        pattern="[1900-2024]{4}"
        (keyup)="cardData()"
        />
        <div class="underline"></div>
        <div class="underlineAfter"></div>
        <label for="year" >Year</label>        
    </div>
    <div class="mt-4" style="position: relative;">
        <input 
        id="image" 
        class="form-control"
        [(ngModel)]="image"
        name="image"
        required
        (keyup)="cardData()"
        />
        <div class="underline"></div>
        <div class="underlineAfter"></div>
        <label for="image" >Image</label>   
        <!-- <button type="button" class="btn searchBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>      -->
        <label class="label-browse">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            <input class="browse form-control" type="file" />
        </label>
    </div>
    <div>
        <button 
        type="button" (click)="onClick()" 
        class="btn btn-success mt-2 me-2"
        >
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="16" height="16" fill="currentColor" 
        class="mb-1 bi bi-skip-forward-circle-fill" 
        viewBox="0 0 16 16"
        >
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.79 5.093A.5.5 0 0 0 4 5.5v5a.5.5 0 0 0 .79.407L7.5 8.972V10.5a.5.5 0 0 0 .79.407L11 8.972V10.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-1 0v1.528L8.29 5.093a.5.5 0 0 0-.79.407v1.528L4.79 5.093z"/>
        </svg>
            Next
        </button>
        <button 
        type="button" 
        routerLink="/admin" 
        class="btn btn-danger mt-2 me-2"
        >
        <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="16" height="16" 
        fill="currentColor" 
        class="mb-1 bi bi-x-circle-fill" 
        viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
            Cancel
        </button>
    </div>
</form>