<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>

<div class="section1">
  <div class=" d-block m-auto" style="width: 70vw">
      <div class="mt-1 d-block m-auto">
          <form class="">
              <input (focus)="resetView()" (keyup)="onSearchFinder(val.value)" #val  placeholder="Search" class="form-control border border-primary" />
          </form>
      </div>
      <div class="btnFinders container mt-1">
          <button (click)="onBtnFinders('A')" class="btn btn-outline-primary m-1">A</button>
          <button (click)="onBtnFinders('B')" class="btn btn-outline-primary m-1">B</button>
          <button (click)="onBtnFinders('C')" class="btn btn-outline-primary m-1">C</button>
          <button (click)="onBtnFinders('D')" class="btn btn-outline-primary m-1">D</button>
          <button (click)="onBtnFinders('E')" class="btn btn-outline-primary m-1">E</button>
          <button (click)="onBtnFinders('F')" class="btn btn-outline-primary m-1">F</button>
          <button (click)="onBtnFinders('G')" class="btn btn-outline-primary m-1">G</button>
          <button (click)="onBtnFinders('H')" class="btn btn-outline-primary m-1">H</button>
          <button (click)="onBtnFinders('I')" class="btn btn-outline-primary m-1">I</button>
          <button (click)="onBtnFinders('J')" class="btn btn-outline-primary m-1">J</button>
          <button (click)="onBtnFinders('K')" class="btn btn-outline-primary m-1">K</button>
          <button (click)="onBtnFinders('L')" class="btn btn-outline-primary m-1">L</button>
          <button (click)="onBtnFinders('M')" class="btn btn-outline-primary m-1">M</button>
          <button (click)="onBtnFinders('N')" class="btn btn-outline-primary m-1">N</button>
          <button (click)="onBtnFinders('O')" class="btn btn-outline-primary m-1">O</button>
          <button (click)="onBtnFinders('P')" class="btn btn-outline-primary m-1">P</button>
          <button (click)="onBtnFinders('Q')" class="btn btn-outline-primary m-1">Q</button>
          <button (click)="onBtnFinders('R')" class="btn btn-outline-primary m-1">R</button>
          <button (click)="onBtnFinders('S')" class="btn btn-outline-primary m-1">S</button>
          <button (click)="onBtnFinders('T')" class="btn btn-outline-primary m-1">T</button>
          <button (click)="onBtnFinders('U')" class="btn btn-outline-primary m-1">U</button>
          <button (click)="onBtnFinders('V')" class="btn btn-outline-primary m-1">V</button>
          <button (click)="onBtnFinders('W')" class="btn btn-outline-primary m-1">W</button>
          <button (click)="onBtnFinders('X')" class="btn btn-outline-primary m-1">X</button>
          <button (click)="onBtnFinders('Y')" class="btn btn-outline-primary m-1">Y</button>
          <button (click)="onBtnFinders('Z')" class="btn btn-outline-primary m-1">Z</button>
          <button (click)="resetView()" class="btn btn-outline-primary m-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
              <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
          </button>
      </div>
  </div>
</div>

<div class="row">
    <div class="viewCard">
        <div class="" (click)="showMovie(movies, i)"  *ngFor="let movies of listMoviesFiltred; let i = index">
            <div class="card m-3">
                <div [ngStyle]="{background: 'url(' + movies.Image + ')', backgroundSize: '100% 100%'}" class="backgroundImage" BackImage>      
                  <div class="body">
                    <h1 class="title">
                      {{movies.title}}
                    </h1>
                    <div class="cardContent">
                      <p><b>Type: </b>Action</p>
                      <p><b>Rating: </b>{{movies.rating}}
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: yellow;" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg></p>
                      <p><b>Year: </b>{{movies.year}}</p>
                      <button  class="readMore">Read More!</button>
                    </div>
                  </div> 
                </div>
              </div>
        </div>
    </div>
</div>

<div style="position: relative; text-align: center;" class="row text-light mt-5" *ngIf="!listMoviesFiltred.length">
    <h1 style="font-size: 7em">Sorry</h1>
    <h3 >Target movie is not exist</h3>
</div>

<!-- <div class="row">
        <div class="col-md-3" *ngFor="let movies of listMovies">
            <div style="width: 5em; height: 5em; background-color: beige;">
                <p>mezrioui</p>
            </div>
        </div> 
</div> -->
