.btn:hover, a:hover {
    color: white;
    z-index: 1;
}

.btn{
    z-index: 1;
}

a {
    color: lightblue;    
    transition: color .2s ease;
}

nav{
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    /* height: 10em; */
    z-index: 10;
    background-image: url("https://images.pexels.com/photos/1449455/pexels-photo-1449455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

nav::after {
    content: "";
    background: linear-gradient(75deg, blue, lightblue);
    background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 130% 130%;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -5px;
    animation: barAnimate .5s ease infinite;
}

nav::before {
    content: "";
    background: linear-gradient(75deg, blue, lightblue);
    background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 130% 130%;
    background-repeat: no-repeat;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -5px;
    animation: barAnimate 1s ease infinite;
}

@keyframes barAnimate {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
    
	}
	100% {
		background-position: 0% 50%;
	}
}