*{
    --blue: rgb(10, 41, 124);
    /* --blue-light: rgb(36, 54, 136); */
    --lightBlue: rgb(35, 57, 156);
}

nav {
    /* --blue: rgb(36, 36, 136); */
    margin: 0;
    width: 100vw;
    height: 4em;
    background: var(--blue);
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}


.user {
    /* --lightBlue: rgb(36, 54, 136); */
    display: flex;
    border-radius: 2em;
    border: 1px solid black;
    background: var(--lightBlue);
    height: fit-content;
    cursor: pointer;
}

.user img {
    border-radius: 50%;
    border: solid 1px black;
}

.user p {
    font-size: 1.2em;
    text-transform: capitalize;
    text-align: center;
    margin-top: .15em;
}

.user svg {
    font-size: 2em;
    padding: 0;
    margin-top: .27em;
}

.menu svg{
    color: white;
    background-color: var(--lightBlue);
    cursor: pointer;
    margin-left: 1.5em;
    visibility: hidden;
}

.user-options {
    position: fixed;
    right: 2em;
    /* top: 4.5em; */
    color: white;
    z-index: 2;
}

.user-options ul li{    
    list-style: none;
    padding: 1em;
    background: var(--lightBlue);
    width: 14em;
}

.user-options ul li:hover {
    background: var(--lightBlueHover)
}

@media (max-width: 1300px) {
    .menu svg, .menu {
        visibility: visible;
    }
}