
<form class="form" #f="ngForm" (ngSubmit)="onSubmit()">

    <div id="in" class="mt">
        <input 
        class="form-control" 
        required 
        type="text"
        name="email"
        [ngModel]="messageReceive.fullName"
        email
        />
        <label for="#">Email</label>
    </div>

    <!-- <p 
    *ngIf="f.controls['email'].invalid && f.controls['email'].touched"
     class="errorMsg"
     >This field is required</p> -->

     <div class="mt">
        <textarea 
        class="form-control" 
        required 
        name="Message" 
        cols="30" 
        [ngModel]="messageReceive.message"
        rows="10"
        ></textarea>
        <label for="#">Message</label>
    </div>

    <!-- <p 
    *ngIf="f.controls['password'].invalid && f.controls['password'].touched"
    class="errorMsg">This field is required</p> -->
    
    <div class="mt-4">
        <button class="btn btn-info me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
            Send
        </button>
        <button 
        (click)="onCancel()" 
        type="button" 
        class="btn btn-danger"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
            Cancel
        </button>
    </div>
    
</form>
 