*{
    margin: 0;
    padding: 0;
    --blue: rgb(0, 34, 128);
    --lightBlue: rgb(35, 57, 156);
    --lightBlueHover: rgb(38, 73, 189);
}

.main{
    display: flex;
    margin-top: 4em;
}

.side-bar {
    position: fixed;
    z-index: 1;
}

.content {
    margin-left: 20em;
    width: 100vw;
}

@media (max-width: 1300px) {
    .content {
        margin-left: 0;
    }
}