
.backImage{
    background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: linear-gradient(75deg, rgba(36, 36, 255, .5), rgba(90, 90, 180, .5));
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}

.request {
    position: fixed;
    border-radius: 50%;
    /* bottom: 10vh;
    left: 10vh; */
    z-index: 3;
    bottom: 1.5em;
    right: 3em;
    transform: scale(1);
    transition: transform .3s ease;
    animation: requateTranslate 1s alternate infinite ;
}

.request h1{
    color: white;
    background: #4FB2FC;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.request:hover {
    transform: scale(1.2);
}

.formRequest{
    position: fixed;
    /* top: 10%; */
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

@keyframes requateTranslate {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}