
<div *ngIf="!isLoginPage && !isAdminPage" class="backImage"></div>

<div (click)="onRequest()" class="request" *ngIf="!isAdminPage">
    <img *ngIf="!isRequest" width="60vw" height="60vh" src="https://cdn2.iconfinder.com/data/icons/the-circle-icons/128/messages.png" alt="">
    <img *ngIf="isRequest" width="60vw" height="60vh" src="https://cdn2.iconfinder.com/data/icons/commands-1/32/cross_cancel_error_delete_close_button_remove-512.png" alt="">
</div>

<app-request (disable)="onRequest()" *ngIf="isRequest" class="formRequest"></app-request>

<app-header *ngIf="!isLoginPage && !isAdminPage"></app-header>


<body>
    <section>
        <div [class.container]="!isAdminPage" [class.mt-5]="!isAdminPage">
            <router-outlet></router-outlet>
        </div>
    </section>    
</body>


<app-footer *ngIf="!isLoginPage && !isAdminPage"></app-footer>