.body{
    /* background-color: rgba(0, 0, 0, .5); */
    /* width: 100vw;
    height: 100vh; */
    /* display: flex;
    justify-content: right;
    align-items: center; */
    position: fixed;
    bottom: 5.5em;
    right: 3em;
    width: fit-content
}

textarea {
    /* height: 20vh; */
    resize: none;
}

form {
    background: white;
    width: 23em;
    height: 29em;
    padding: 1em;
    border-radius: 7px;
    box-shadow: white white 1px;
    /* justify-self: center;
    justify-content: center; */
    border-top: 7px solid rgb(0, 4, 218);
}

.body h1{
    color: rgb(0, 4, 218);
    text-align: center;
    text-transform: capitalize;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

input:invalid ~ label {
    position: absolute;
    transform: translate(.8em ,-2em);
    color: rgb(117, 117, 117);
    background: white; 
    transition: transform .3s ease,color .3s ease; 
    padding: 0 3px 0 3px;
}

input:focus ~ label, input:valid ~ label {
    transform: translate(.8em ,-3.3em);
    color: rgb(0, 4, 218);    
    background: white; 
    padding: 0 3px 0 3px;
}

textarea ~ label {
    position: absolute;
    transform: translate(.8em ,-10em);
    color: rgb(117, 117, 117);
    background: white; 
    transition: transform .3s ease,color .3s ease; 
    padding: 0 3px 0 3px;
}

textarea:focus ~ label, textarea:valid ~ label {
    transform: translate(.8em ,-10.3em);
    color: rgb(0, 4, 218)
}

div[id="in"] {
    height: 2.2em;
}

.mt {
    margin-top: 2.2em
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}