* {
    --lightblue: rgb(241, 244, 255);
}

.messages {
    /* min-height: 18em; */
    /* overflow-y: scroll; */
    /* border: 1px solid; */
    width: 70vw;
    padding: 3em;
    margin-left: 1em;
    min-width: 35em;
    position: relative;
    top: -6.2em;
}

.messages .lastMessage {
    padding: .5em;
    background-color: var(--lightblue);
    border-radius: 1em;
}

.messages ul li {
    background-color: rgb(241, 244, 255);
    padding: 10px;
    margin-bottom: .5em;
    border-radius: 1em;
    cursor: pointer;
    text-justify: inter-word;
}

.messages p {
    text-align: justify;
}

.messages ul {
    padding: 0;
    list-style-type: none;
}

.messagesContent {
    overflow-y: scroll;
    height: 23.5em;
}

.messages .lastMessage {
    padding: .5em;
    background-color: var(--lightblue);
    border-radius: 1em;
}

@media (max-width: 1600px) {
    .messages {
        /* min-height: 18em; */
        /* overflow-y: scroll; */
        /* border: 1px solid; */
        /* padding: 2px */
        padding: 0;
        margin-left: 1em;
        min-width: 45em;
        margin-top: 4em;
        margin-bottom: 6em;
    }

    .messagesContent {
        overflow-y: scroll;
        height: 22em;
    }
}