* {
    --lightgrayodd: rgb(211, 210, 210);
    --lightgrayeven: rgb(221, 221, 221);
    --lightgrayhover: rgb(230, 230, 230);
}

.table {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5em;
}

table{
    width: 60vw;
    border-radius: 7em;
    min-width: 50em;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th, td {
    border-bottom: 2px solid white;
}

tr:nth-child(odd):not(:first-child) {
    background-color: var(--lightgrayodd);
}

tr:nth-child(odd):hover:not(:first-child) {
    background-color: var(--lightgrayhover);
}

tr:nth-child(even) {
    background-color: var(--lightgrayeven);
}
tr:nth-child(even):hover {
    background-color: var(--lightgrayhover);
}

th {
    color: white;
}

.headerTable {
    background-color: gray;
}
.headerTable:hover {
    background-color: gray;
}

.edit {
    margin-left: 3.5em;
}